<div class="container">
  <input type="text" placeholder="Serach by video title" [formControl]="inputControl">
  <div class="grid">

    <ng-container *ngFor="let video of (allVideos$ | async)">
      <a class="video-card" [routerLink]="['/videos', video.id]">
        <header>
          <video>
            <source [src]="video.videoUrl" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </header>

        <div class="card-body">
          <h3>{{ video.title }}</h3>
        </div>
      </a>
    </ng-container>
  </div>
</div>
